{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'store/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header class="container">
        <span class="logo">LOGO</span>
        <input class="inputproduct" type="text" placeholder="Enter the product" value="" maxlenght="80">
        <div class="user-icon">
            <i class="fa-solid fa-user"></i>
        </div>
        <div class="user-cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <script src="{% static 'store/js/store.js' %}"></script>
</body>
</html>