{% extends 'store/layout.html' %}
{% load static %}

{% block title %}
   Orders page
{% endblock %}




{% block css %}
    <link rel="stylesheet" href="{% static 'store/css/orders.css' %}">
{% endblock %}

{% block header %}
<h1>
    Your Orders
    <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
</h1>
{% endblock %}

{% block content %}



<ul>
    {% for order in orders %}
        <li>
            <p>Name: {{ order.name }}</p>
            <p>Email: {{ order.email }}</p>
            <p>Address: {{ order.address }}</p>
            <p>Phone number: {{ order.phone }}</p>
            <p><strong>Created at:</strong> {{ order.created_at|date:"d F Y, H:i" }}</p>
            <ul>
                {% for item in order.cart %}
                    <li>
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                        <p>{{ item.title }}</p>
                        <p>Price: ${{ item.price }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
{% endblock %}