{% extends 'store/layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'store/css/payment.css' %}">
{% endblock %}


{% block content %}
  <h1>Order</h1>
  <a href="{% url 'home' %}" class="btn btn-primary">Cancel</a>
  <form id="order-form" method="post">
    {% csrf_token %}
    <label for="name">First Name:</label>
    <input type="text" id="name" name="name" required>
    
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required>
    
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" pattern="\+?\d{9,15}" required>
    
    <label for="card-number">Card Number:</label>
    <input type="tel" id="card-number" name="card-number" pattern="\d{4} \d{4} \d{4} \d{4}" maxlength="19" required>

    <h3>Your order:</h3>
    <ul id="cart-items"></ul>
    <p><strong>Sum: </strong><span id="total-price">0</span> $</p>
    
    <button type="submit">Order</button>
  </form>
  

<script src="{% static 'store/js/payment.js' %}" defer></script>

{% endblock %}

